.card-container{
    width: 700px;
    height: 465px;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    flex-direction: column;
    text-align: center;
    border-radius: 0;
    top: 110px; position: relative;
}


.mat-form-field{
    width: 400px;
    border-radius: 0;
    outline-color: rgb(237, 100, 130);
    
}

.mat-raised-button:enabled{
    background-color: #106faf;
    color: white;
    box-shadow: 0px 0px 0px grey;
    border-radius: 0;



  }
.mat-raised-button:disabled{
    background-color: rgb(212, 212, 212);
    border-radius: 0;



}